<section class="tutorial">

<?js if (children.length > 0) { ?>
<header class="tutorial_children">
    <p class="label">Related tutorials: </p>
    <ul class="list list--buttons"><?js
        children.forEach(function(t) { ?>
        <li class="list_item"><?js= this.tutoriallink(t.name) ?></li>
        <?js }, this); ?>
    </ul>
</header>
<?js } ?>

<article class="tutorial_content">
    <?js= content ?>
</article>

</section>
